@mixin page-grid {
  --columns: 2;

  display: grid;
  gap: 20px 40px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px 56px;
  }

  @include on-desktop {
    --columns: 12;

    column-gap: 24px;
  }
}