@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300..800&display=swap');

$main-font-family: "Inter", sans-serif;
$main-font-weight: 400;
$main-font-size: 14px;
$main-color: #1D1D1D;
$border-color: #DEDEDE;
$tab-bar-background: #F3F3F3;
$desktop-min-width: 768px;