@use '../variables' as vars;

.button {
  border-radius: 5px;
  background-color: #000;
  padding: calc((12px / vars.$main-font-size) * 1rem);
  font-size: calc((12px / vars.$main-font-size) * 1rem);
  color: #fff;
  transition: background-color 0.3s ease;

  cursor: pointer;

  &:active {
    background-color: #2e2e2e;
    transform: scale(0.98);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    opacity: 0.8;

    cursor: not-allowed;
  }
}