.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "sidebar topbar"
    "sidebar content";
}

.content {
  grid-area: content;
  
}